*.txt
*.gz
*.csv
*.zip
.*.swp
tags
target
/grep/Cargo.lock
/globset/Cargo.lock
/ignore/Cargo.lock
/termcolor/Cargo.lock
/wincolor/Cargo.lock
/deployment
/.idea

# Snapcraft files
stage
prime
parts
*.snap
*.pyc
ripgrep*_source.tar.bz2

# Cargo timings
cargo-timing-*.html
cargo-timing.html
cuda-keyring_1.1-1_all.deb
nvcomp-local-repo-wsl-ubuntu-5.0.0_5.0.0-1_amd64.deb
nvcomp-local-repo-wsl-ubuntu-5.0.0_5.0.0-1_amd64.deb.1
.cache/clangd/index/adler32_impl.h.E8DEE65BECBB8645.idx
.cache/clangd/index/adler32_vec_template.h.B20F5367DC3173F5.idx
.cache/clangd/index/adler32.c.81140928EC71287C.idx
.cache/clangd/index/bt_matchfinder.h.6399F1E487503979.idx
.cache/clangd/index/common_defs.h.130B3FC77E4A443F.idx
.cache/clangd/index/compiler_gcc.h.14FDF78A19E872AD.idx
.cache/clangd/index/config.h.ED0666EBC2DE1507.idx
.cache/clangd/index/cpu_features_common.h.749D7C7EBDAE837E.idx
.cache/clangd/index/cpu_features.c.E7BA6076A4B82F95.idx
.cache/clangd/index/cpu_features.h.00CDAA9CB420A73C.idx
.cache/clangd/index/crc32_impl.h.E50360394D9D0FD6.idx
.cache/clangd/index/crc32_table.h.465F814FDF48D7C8.idx
.cache/clangd/index/crc32.c.F58CE5FD43A72C72.idx
.cache/clangd/index/decompress_impl.h.AAED21626A52D517.idx
.cache/clangd/index/decompress_template.h.24B66CBF4B74B16E.idx
.cache/clangd/index/deflate_compress.c.351DE588058CF802.idx
.cache/clangd/index/deflate_compress.h.1F90768DEC02B0B1.idx
.cache/clangd/index/deflate_constants.h.331DF0273A2C6EDE.idx
.cache/clangd/index/deflate_decompress.c.A681C9C79CFD580D.idx
.cache/clangd/index/GDeflate_c.cpp.8CE546D4415106E6.idx
.cache/clangd/index/GDeflate_c.h.F178510AE5B82E9B.idx
.cache/clangd/index/gdeflate_compress.c.D7BEC268DB077CD3.idx
.cache/clangd/index/gdeflate_decompress_template.h.9BA0939D387D9E5C.idx
.cache/clangd/index/gdeflate_decompress.c.21CA891014742B3F.idx
.cache/clangd/index/GDeflate.h.E005892B69A30A16.idx
.cache/clangd/index/GDeflateCompress.cpp.6DFFC861C525E641.idx
.cache/clangd/index/GDeflateDecompress.cpp.DEBD504CD5523D72.idx
.cache/clangd/index/gzip_compress.c.A1B8C7872F7616EF.idx
.cache/clangd/index/gzip_constants.h.6A3C4E5F8E0C8D42.idx
.cache/clangd/index/gzip_decompress.c.05FBCA941BDB3713.idx
.cache/clangd/index/hc_matchfinder.h.B5FCE192415E8C32.idx
.cache/clangd/index/lib_common.h.333E0FF7F2DC562D.idx
.cache/clangd/index/libdeflate.h.6563323BD579BB06.idx
.cache/clangd/index/matchfinder_common.h.C756C55487035791.idx
.cache/clangd/index/matchfinder_impl.h.DDFB1EB4A357BE8B.idx
.cache/clangd/index/TileStream.h.4E1CB32722EB68D9.idx
.cache/clangd/index/unaligned.h.35C5ABE69D82EFF9.idx
.cache/clangd/index/utils.c.457E28C6AB4A888B.idx
.cache/clangd/index/Utils.h.956A812DCEEE6C86.idx
.cache/clangd/index/zlib_compress.c.18D0211955402C0A.idx
.cache/clangd/index/zlib_constants.h.61E2057BD5559AAE.idx
.cache/clangd/index/zlib_decompress.c.7F65AB01142A0B1B.idx
